{{ 'custom-table.css' | asset_url | stylesheet_tag }}

<div class="container">	
  <div class="spec-table">
    <table>
      <thead>
        <tr>
          <th colspan="2">{{ product.metafields.system.model_number.value }}</th>
        </tr>
      </thead>
      {% assign serie = product.metafields.system.serie.value %}
      {% assign speaker = product.metafields.speaker %}
      {% assign audio = product.metafields.audio %}
      {% if product.tags contains '2-way speaker' %}
        <tbody>
          <tr class="speaker_size">
            <td><strong>Speaker Size</strong></td>
            <td>{{ speaker.size.value.label.value }}</td>
          </tr>
          <tr>
            <td><strong>Speaker Type</strong></td>
            <td>{{ speaker.type.value }}</td>
          </tr>
          <tr>
            <td><strong>Voice Coil</strong></td>
            <td>
              {{ speaker.voice_coil_size | metafield_text }}
              {{ speaker.voice_coil_material }}
            </td>
          </tr>
          {% if speaker.tweeter_design %}
            <tr>
              <td><strong>Tweeter</strong></td>
              <td>{{ speaker.tweeter_design }}</td>
            </tr>
          {% endif %}
          {% if speaker.midrange_design %}
            <tr>
              <td><strong>Midrange</strong></td>
              <td>{{ speaker.midrange_design }}</td>
            </tr>
          {% endif %}
          <tr>
            <td><strong>Magnet</strong></td>
            <td>
              {{ speaker.magnet_size | metafield_text }}
              {{ serie.magnet }}
            </td>
          </tr>
          <tr>
            <td><strong>Power Handling</strong></td>
            <td>{{ speaker.rms_power }} RMS / {{ speaker.peak_power }} Max</td>
          </tr>
          <tr>
            <td><strong>Frequency Response</strong></td>
            <td>{{ audio.fr }}</td>
          </tr>
          <tr>
            <td><strong>SPL @ 1 W / 1 m</strong></td>
            <td>{{ speaker.spl }}</td>
          </tr>
          <tr>
            <td><strong>Impedance</strong></td>
            <td>{{ speaker.impedance }}</td>
          </tr>
          <tr>
            <td><strong>Mounting Depth</strong></td>
            <td>{{ speaker.mounting_depth }}</td>
          </tr>
        </tbody>
      {% endif %}
	  {%- comment -%}
	     {% if product.tags contains 'amplifier' %}
        <tbody>
          <tr>
            <td><strong>Channel</strong></td>
            <td>{{ product.metafields.shopify['amplifier-configuration'] | metafield_text: field: 'label' }}</td>
          </tr>
          <tr class="amp-channel">
            <td><strong>Amplifier IC</strong></td>
            <td>Class {{ product.metafields.shopify['amplifier-class'] | metafield_text: field: 'label' }}</td>
          </tr>
          <tr>
            {% assign amp = product.metafields.amp %}
            <td><strong>RMS Power @ 1 ohm</strong></td>
            <td>
              {{ amp.rms | metafield_text: field: 'one_ohm' }}
            </td>
          </tr>

          <tr>
            <td><strong>RMS Power @ 2 Ohm</strong></td>
            <td>{{ amp.rms | metafield_text: field: 'two_ohm' }}</td>
          </tr>
        </tbody>
      {% endif %}
	   {%- endcomment -%}
	  {% if product.type contains 'Amplifier' %}
		<tbody>
			<tr>
				<td><strong>Channel</strong></td>
				<td>{{ product.metafields.shopify['amplifier-configuration'] | metafield_text: field: 'label' | default:'N/A' }}</td>
			</tr>
			<tr>
				<td><strong>Amplifier IC</strong></td>
				<td>{{ product.metafields.shopify['amplifier-class'] | metafield_text:field:'label' | default:'N/A' }}</td>
			</tr>
				{% assign specs = product.metafields.amplifier.specification.value %}
				{% if specs != blank %}
				{% assign spec_fields = 'rms_1_ohm,RMS Power @ 1 Ohm,text,false|rms_2_ohm,RMS Power @ 2 Ohm,text,false|rms_4_ohm,RMS Power @ 4 Ohm,text,false|rms_bridged_4_ohm,Bridged RMS Power @ 4 Ohm,text,false|fr,Frequency Responese,text,false|input_sensitivity,Input Sensitivity,text,false|thd,T.H.D,text,false|sn_ratio,S/N Ratio,text,false|low_pass_filter,Low Pass Filter,text,true|high_pass_filter,High Pass Filter,text,true|subsonic,Subsonic,text,false|bass_boost,Bass Boost,text,false|phase,Phase,boolean,false|input,Input,text,false|output,Output,text,false|fase_rate,Fase Rate,text,false|remote_control,Remote Control,boolean,false|weight,Weight,weight,false|dimension,Dimension,text,false' | split: '|' %}
					{% for field in spec_fields %}
					{% assign key_title_type = field | split: ',' %}
					{% assign key = key_title_type[0] %}
					{% assign title = key_title_type[1] %}
					{% assign type = key_title_type[2] %}
					{% if specs[key] != blank or type == 'boolean' %}
						<tr>
						<td><strong>{{ title }}</strong></td>
						<td>
							{% if type == 'text' %}
							{{ specs[key] | default: 'N/A' }}
							{% elsif type == 'weight' %}
								{% if specs[key] != blank %}
									{{ specs[key].value }} {{ specs[key].unit }}
								{% else %}
									N/A
							{% endif %}	
							{% elsif type == 'boolean' %}
							{% if specs[key] == true %}
								Yes
								{% if key == 'low_pass_filter' or key == 'high_pass_filter' %}
								{% assign range_key = key | append: '_range' %}
								{% if specs[range_key] != blank %}
									({{ specs[range_key] }})
								{% endif %}
								{% endif %}
							{% else %}
								No
							{% endif %}
							{% endif %}
						</td>
						</tr>
					{% endif %}
					{% endfor %}
		</tbody>
	
	  {% endif %}
	{% endif %}
    </table>
<hr>

</div>
