{{ 'custom-table.css' | asset_url | stylesheet_tag }}

<div class="container">	
  <div class="spec-table">
    <table>
      <thead>
        <tr>
          <th colspan="2">{{ product.metafields.system.model_number.value }}</th>
        </tr>
      </thead>

      {% if product.tags contains '2-way speaker' %}
		    {% assign serie = product.metafields.system.serie.value %}
			{% assign specs = product.metafields.speaker.specification.value %}
			{% if specs != blank %}
				{% assign spec_fields = 'type,Speaker Type,text,false|size_object,Speaker Size,text,false|rms_power,RMS Power,text,false|peak_power,Peak Power,text,false|magnet_weight,Magnet,weight,false|voice_coil_size,Voice Coil,length,false|midrage_design,Midrange Design,text,false|tweeter_design,Tweeter Design,text,false|fr,Frequency Response,text,false|spl,Sensitivity @ 1W/ 1M,text,false|impedance,Impedance,text,false|mounting_depth,Mounting Depth,text,false' | split:'|' %}
				{% for field in spec_fields %}
					{% assign key_title_type_has_range = field | split:',' %}
					{% assign key = key_title_type_has_range[0] %}
					{% assign title = key_title_type_has_range[1] %}
					{% assign type = key_title_type_has_range[2] %}
					{% assign has_range = key_title_type_has_range[3] %}
					{% if specs[key] != blank or type == 'boolean' %}
						<tr>
							<td><strong>{{ title }}</strong></td>
							<td>
								{% if type =='text' %}
									{{ specs[key].value }} 
								{% elsif type == 'weight' or type == 'length' %}
									{% if title == 'Magnet' %}
										{{ specs[key].value }} {{ specs[key].unit }} {{ specs.magnet_type }}
									{% elsif title == 'Voice Coil' %}
										{{ specs[key].value }} {{ specs[key].unit }} {{ serie.voice_coil }}
									{% else %}
											{{ specs[key].value }} {{ specs[key].unit }}
								{% endif %}
										
								{% endif %}
								
							</td>
						</tr>
					{% endif %}

				{% endfor %}
			{% endif %}
      {% endif %}
	  {% if product.type contains 'Amplifier' %}
		<tbody>
			<tr>
				<td><strong>Channel</strong></td>
				<td>{{ product.metafields.shopify['amplifier-configuration'] | metafield_text: field: 'label' | default:'N/A' }}</td>
			</tr>
			<tr>
				<td><strong>Amplifier IC</strong></td>
				<td>{{ product.metafields.shopify['amplifier-class'] | metafield_text:field:'label' | default:'N/A' }}</td>
			</tr>
				{% assign specs = product.metafields.amplifier.specification.value %}
				{% if specs != blank %}
					{% comment %} 
					 要新增或修改metaojbect fields 寫在下面 assign spec_fields 之中。
					以[key],[title](Dispaly name),[type](customizable),[has_range]的規則來寫 
					{% endcomment %}
				{% assign spec_fields = 'rms_1_ohm,RMS Power @ 1 Ohm,text,false|rms_2_ohm,RMS Power @ 2 Ohm,text,false|rms_4_ohm,RMS Power @ 4 Ohm,text,false|rms_bridged_4_ohm,Bridged RMS Power @ 4 Ohm,text,false|fr,Frequency Responese,text,false|input_sensitivity,Input Sensitivity,text,false|thd,T.H.D,text,false|sn_ratio,S/N Ratio,text,false|low_pass_filter,Low Pass Filter,text,true|high_pass_filter,High Pass Filter,text,true|subsonic,Subsonic,text,false|bass_boost,Bass Boost,text,false|phase,Phase,boolean,false|input,Input,text,false|output,Output,text,false|fase_rate,Fase Rate,text,false|remote_control,Remote Control,boolean,false|weight,Weight,weight,false|dimension,Dimension,text,false' | split: '|' %}
					{% for field in spec_fields %}
					{% assign key_title_type = field | split: ',' %}
					{% assign key = key_title_type[0] %}
					{% assign title = key_title_type[1] %}
					{% assign type = key_title_type[2] %}
					{% assign has_range = key_title_type[3] %}
					{% if specs[key] != blank or type == 'boolean' %}
						<tr>
						<td><strong>{{ title }}</strong></td>
						<td>
							{% if type == 'text' %}
							{{ specs[key] | default: 'N/A' }}
							{% elsif type == 'weight' %}
								{% if specs[key] != blank %}
									{{ specs[key].value }} {{ specs[key].unit }}
								{% else %}
									N/A
							{% endif %}	
							{% elsif type == 'boolean' %}
							{% if specs[key] == true %}
								Yes
								{% if has_range == 'true' %}
									{% assign range_key = key | append: '_range' %}
									{% if specs[range_key] != blank %}
										( {{ specs[range_key] }})
									{% endif %}
								{% endif %}
							{% else %}
								No
							{% endif %}
							{% endif %}
						</td>
						</tr>
					{% endif %}
					{% endfor %}
		</tbody>
	
	  {% endif %}
	{% endif %}
    </table>
<hr>

</div>
