<div class="page-width">

  {% assign serie = product.metafields.custom.serie.value | metaobject %}
  {% if serie %}
    <h3>{{ serie.label }} Serie</h3>
    <div>
      <table>
        <tr>
          <td>Basket</td>
          <td>{{ serie.basket }}</td>
        </tr>
        <tr>
          <td>Surround</td>
          <td>{{ serie.surround }}</td>
        </tr>
        <tr>
          <td>Cone</td>
          <td>{{ serie.cone }}</td>
        </tr>
        <tr>
          <td>Magnet</td>
          <td>{{ serie.magnet }}</td>
        </tr>
        <tr>
          <td>Voice Coil</td>
          <td>{{ product.metafields.custom.voice_coil_size.value }} {{ serie.voice_coil }}</td>
        </tr>
      </table>

    </div>

  {% endif %}

</div>

{% schema %}
  {

    "name": "Specification Table",
    "presets": [
      {
        "name": "Specification Table"
      }
    ]
  }
{% endschema %}